append variables 
  - 
    var sliderItems = [ 
      {
        image: `assets/images/main-header-3.jpg`,
        title: ['the', 'hideaway', 'inn']
      },
      {
        image: `assets/images/main-header-1.jpg`,
        title: ['live', 'wonderful', 'life']
      },
      {
        image: `assets/images/main-header-2.jpg`,
        title: ['perfect', 'vacation', 'place']
      }
    ]

mixin SliderFull 
  .swiper-theme-container.home-slider(data-swiper-theme-container data-parallax data-rellax-speed!= '-3')
    .swiper(data-swiper!={
      spaceBetween: 30,
      autoplay: {
        delay: 8000,
        disabledOnInteraction: false
      },
      loop: true,
      loopedSlides: 5,
      slideToClickedSlide: true,
      slidesPerView: 1,
      effect: 'fade'
    })
      .swiper-wrapper
        each slideItem, index in sliderItems 
          .swiper-slide 
            +Section({image: `${CWD}${slideItem.image}`, className: "overlay overlay-1"}, container).py-0.text-center.has-parallax(data-zanim-timeline!={} data-zanim-trigger!='scroll')
              +ScrollSpyButton({
                attrs: {"data-zanim-xs": {delay: 0.8}, "data-zanim-trigger": "scroll"}
              })
              .row.py-8.align-items-center.banner(data-parallax data-inertia!={weight: 1.5} data-rellax-speed="2" ) 
                .col 
                  .overflow-hidden 
                    h6.text-uppercase.text-white.fs-10.fs-lg-9.ls-3.font-base(data-zanim-xs!={delay: 1.2}) west virginia / united states 
                  .overflow-hidden 
                    h1.text-white.fs-4.fs-lg-2.text-capitalize(data-zanim-xs!={delay:1.1})
                      | #{slideItem.title[0]} 
                      em #{slideItem.title[1]} 
                      | #{slideItem.title[2]} 


          
      .swiper-nav
        .swiper-button-next.swiper-button-white
        .swiper-button-prev.swiper-button-white 


mixin SliderClassic 
  .swiper-theme-container.home-slider(data-swiper-theme-container data-parallax data-rellax-speed!= '-3')
    .swiper(data-swiper!={
      spaceBetween: 30,
      loop: true,
      autoplay: {
        delay: 8000,
        disabledOnInteraction: false
      },
      loopedSlides: 5,
      slideToClickedSlide: true,
      slidesPerView: 1,
      effect: 'fade'
    })
      .swiper-wrapper
        each slideItem, index in sliderItems 
          .swiper-slide 
            +Section({image: `${CWD}${slideItem.image}`, className: "overlay overlay-1"}, container).py-0.text-center.has-parallax(data-zanim-timeline!={} data-zanim-trigger!='scroll')
              +ScrollSpyButton({
                attrs: {"data-zanim-xs": {delay: 0.8}, "data-zanim-trigger": "scroll"}
              })
              .row.py-8.align-items-center.banner-classic(data-parallax data-inertia!={weight: 1.5} data-rellax-speed="2") 
                .col 
                  .overflow-hidden 
                    h6.text-uppercase.text-white.fs-10.fs-lg-9.ls-3.font-base(data-zanim-xs!={delay: 1}) west virginia / united states 
                  .overflow-hidden 
                    h1.text-white.fs-4.fs-lg-2.text-capitalize(data-zanim-xs!={delay:0.9})
                      | #{slideItem.title[0]} 
                      em #{slideItem.title[1]} 
                      | #{slideItem.title[2]} 


          
      .swiper-nav
        .swiper-button-next.swiper-button-white
        .swiper-button-prev.swiper-button-white 
