mixin feature(image, title, price)
	.packages.pos-relative.h-100.p-lg-6.p-3
		+background({image:"assets/images/feature/" + image + ".jpg", cssclass:"overlay"})
		.border.px-2.px-lg-4.py-5.py-lg-7.color-white(style="background-color: rgba(0, 0, 0, 0.4); border-color: #5e5e5e !important")
			h3.mb-2.mb-lg-3.text-uppercase.fs-1.fs-lg-3= title
			p.color-9.text-uppercase.define-hr.fs--1.fs-lg-1 from $#{price}
		.d-none.d-lg-block
			a(href="#").btn.btn-lg.btn-white.btn-packages Book now
		.d-lg-none
			a(href="#").btn.btn-sm.btn-white.btn-packages Book now

mixin classic-header(bg, title, subtitle)
	+section({image: "assets/images/"+bg+".jpg", cssclass: "overlay overlay-2 parallax"}, "container").py-0.overflow-hidden
		.row.align-items-center.justify-content-center.text-center.pt-8.pb-6(style="height: 50vh; min-height: 300px;" data-zanim-timeline!={} data-zanim-trigger="scroll")
			.col
				if(subtitle)
					.overflow-hidden
						h6.text-uppercase.color-white.fs--1.fs-lg-0.font-2.ls(data-zanim!={delay: 0.2})=subtitle
				.overflow-hidden
					h1.color-white.fs-5.fs-lg-7(data-zanim!={delay: 0.1})=title

mixin hoverbox(link, name)
	.hoverbox
		img(src=link alt="")
		.hoverbox-primary-content.as-hoverbox-content.d-flex.align-items-center.justify-content-center.h-100
			h3.color-white=name
		.hoverbox-content.p-4
			.hoverbox-bg.d-flex.align-items-center.justify-content-center.h-100

mixin generic(title, des, links)
	.row.mt-6
		.col-6
			h4.ls.color-4.fw-300= title
		.col-6.pl-0
			h6.fs-0.color-6.lh-6= des
			ul
				each link in links
					li.my-4.d-block.border-left.border-color-9.pl-4
						a(href="#").color-7=link

mixin header(image, title, height)
	+section({image: "assets/images/"+image+".jpg", cssclass: "overlay parallax"}, 'container').py-0.text-center.overflow-hidden
		a.down-indicator(href="#target-down-indicator")
		.row.align-items-center.py-8(data-inertia!={weight: 1.5} data-zanim-timeline!={} data-zanim-trigger="scroll" class=height)
			.col
				.overflow-hidden
					h6.text-uppercase.color-white.fs--1.fs-lg-0.font-2.ls(data-zanim!={delay: 0.2}) west virginia / united states
				.overflow-hidden
					h1.color-white.fs-5.fs-lg-7(data-zanim!={delay: 0.1}) #{title[0]} 
						em #{title[1]} 
						| #{title[2]}



mixin flexheader(image, title, height)
	+section({image: "assets/images/"+image+".jpg", cssclass: "overlay"}, 'container').py-0.text-center
		a.down-indicator(href="#target-down-indicator")
		.row.align-items-center.py-8.parallax(data-inertia!={weight: 1.5} data-rellax-speed="2" class=height)
			.col
				.overflow-hidden
					h6.text-uppercase.color-white.fs--1.fs-lg-0.font-2.ls(data-zanim!={delay: 0.2}) west virginia / united states
				.overflow-hidden
					h1.color-white.fs-5.fs-lg-7(data-zanim!={delay: 0.1}) #{title[0]} 
						em #{title[1]} 
						| #{title[2]}