extends ../pug_modules/skeleton

block append styles
	link(href="assets/lib/prism/prism.css" rel="stylesheet")

block append scripts
	script(src='assets/lib/prism/prism.js')

block append content
	
	+navigation

	+classic-header("elements-header", 'Grid system', "Modular elements")

	+section(false, 'container')
		.row.justify-content-center
			.col-lg-10
				h4 Bootstrap 4 grid system
				p
					| We use bootstrap 4 grid system. For more details see 
					a(href='https://getbootstrap.com/docs/4.0/layout/grid/' target='_blank') Documentation &rarr;
				pre.mt-5
					code.lang-html.
						#{'<div class="col-12"></div>'}
				.row
					.col-12
						.py-5.border-dashed.color-8.background-11
				pre.mt-5
					code.lang-html.
						#{'<div class="col-6"></div>'}
				.row
					.col-6
						.py-5.border-dashed.color-8.background-11
					.col-6
						.py-5.border-dashed.color-8.background-11
				pre.mt-5
					code.lang-html.
						#{'<div class="col-4"></div>'}
				.row
					.col-4
						.py-5.border-dashed.color-8.background-11
					.col-4
						.py-5.border-dashed.color-8.background-11
					.col-4
						.py-5.border-dashed.color-8.background-11
				pre.mt-5
					code.lang-html.
						#{'<div class="col-3"></div>'}
				.row
					.col-3
						.py-5.border-dashed.color-8.background-11
					.col-3
						.py-5.border-dashed.color-8.background-11
					.col-3
						.py-5.border-dashed.color-8.background-11
					.col-3
						.py-5.border-dashed.color-8.background-11
				pre.mt-5
					code.lang-html.
						#{'<div class="col-2"></div>'}
				.row
					.col-2
						.py-5.border-dashed.color-8.background-11
					.col-2
						.py-5.border-dashed.color-8.background-11
					.col-2
						.py-5.border-dashed.color-8.background-11
					.col-2
						.py-5.border-dashed.color-8.background-11
					.col-2
						.py-5.border-dashed.color-8.background-11
					.col-2
						.py-5.border-dashed.color-8.background-11
				pre.mt-5
					code.lang-html.
						#{'<div class="col-1"></div>'}
				.row
					.col-1
						.py-5.border-dashed.color-8.background-11
					.col-1
						.py-5.border-dashed.color-8.background-11
					.col-1
						.py-5.border-dashed.color-8.background-11
					.col-1
						.py-5.border-dashed.color-8.background-11
					.col-1
						.py-5.border-dashed.color-8.background-11
					.col-1
						.py-5.border-dashed.color-8.background-11
					.col-1
						.py-5.border-dashed.color-8.background-11
					.col-1
						.py-5.border-dashed.color-8.background-11
					.col-1
						.py-5.border-dashed.color-8.background-11
					.col-1
						.py-5.border-dashed.color-8.background-11
					.col-1
						.py-5.border-dashed.color-8.background-11
					.col-1
						.py-5.border-dashed.color-8.background-11

	+footer