mixin Gallery 
  +Section(false).pt-4.pb-0
    .container-fluid.px-0
      .row
        .col-lg-8.mb-4
          img.h-100(src=`${CWD}assets/images/feature/8.jpg` alt='gallery')
        .col-lg-4
          .row 
            .col-lg-12.mb-4 
              img.h-100(src=`${CWD}assets/images/feature/2.jpg` alt='gallery')
            .col-lg-12.mb-4 
              img.h-100(src=`${CWD}assets/images/feature/3.jpg` alt='gallery')
      .row 
        .col-lg-6.mb-4
          img.h-100(src=`${CWD}assets/images/feature/4.jpg` alt='gallery')
        .col-lg-6.mb-4
          img.h-100(src=`${CWD}assets/images/feature/5.jpg` alt='gallery')

      .row 
        .col-lg-4
          .row 
            .col-lg-12.mb-4 
              img.h-100(src=`${CWD}assets/images/feature/6.jpg` alt='gallery')
            .col-lg-12.mb-4 
              img.h-100(src=`${CWD}assets/images/feature/7.jpg` alt='gallery')
        
        .col-lg-8.mb-4
          img.h-100(src=`${CWD}assets/images/feature/1.jpg` alt='gallery')
      
      .row 
        .col-lg-6.mb-4
          img.h-100(src=`${CWD}assets/images/feature/9.jpg` alt='gallery')
        .col-lg-6.mb-4
          img.h-100(src=`${CWD}assets/images/feature/10.jpg ` alt='gallery')
