mixin HoverBoxItem(config)
  .col-lg-6.mb-4
    .packages.position-relative.h-100.p-3.p-lg-6
      +Background({image: config.image, className:'overlay'}) 
      .border.border-2.px-2.py-5.px-lg-4.py-lg-7.text-uppercase(style="background-color: rgba(0,0,0,0.4); border-color: #5e5e5e !important;")
        h3.text-white.mb-2.mb-lg-3.fs-8.fs-lg-6=  config.title 
        p.text-300.define-hr.fs-10.fs-lg-8 from &dollar;#{config.period} 
      
      .d-none.d-lg-block
        a(href="#!").btn.btn-lg.btn-white.btn-packages Book now
      .d-lg-none 
        a(href="#!").btn.btn-sm.btn-white.btn-packages Book now 

mixin Packages 
  -
    var hoverboxItems = [
      {
        image: `${CWD}assets/images/feature/1.jpg`,
        title: 'eat, drink & be merry',
        period: '279'
      },
      {
        image: `${CWD}assets/images/feature/5.jpg`,
        title: 'holiday history',
        period: '299'
      },
      {
        image: `${CWD}assets/images/feature/9.jpg`,
        title: 'christmas cheer',
        period: '849'
      },
      {
        image: `${CWD}assets/images/feature/11.jpg`,
        title: 'tis the season',
        period: '309'
      },
      {
        image: `${CWD}assets/images/feature/4.jpg`,
        title: 'mistletoe magic',
        period: '969'
      },
      {
        image: `${CWD}assets/images/feature/6.jpg`,
        title: 'royalty package',
        period: '269'
      },
    ]
  
  +Section(container).text-center.py-7.py-md-9
    .row.justify-content-center
      each item in hoverboxItems
        +HoverBoxItem(item)