mixin SwiperCarousel
  +ComponentCard({
    prismClass: 'mt-4'
    }).mb-3
      .row
        .col-lg-12.mb-4.mb-lg-0
          .swiper-theme-container.theme-slider(data-swiper-theme-container)
            .swiper(data-swiper!={
              autoplay: true,
              spaceBetween: 30,
              loop: true,
              loopedSlides: 5,
              slideToClickedSlide: true,
              breakpoints: {
                0: {
                  slidesPerView: 1
                },
                768: {
                  slidesPerView: 2
                }
              },
            })
              .swiper-wrapper
                each items in sliderImages
                  .swiper-slide
                    = '\n'
                    img(src=`${CWD}${items.imageSrc}` alt="")
                    = '\n'
              .swiper-pagination   
              .swiper-nav
                .swiper-button-next
                .swiper-button-prev 
mixin SwiperWithoutThumbnail 
  .row
    .col-lg-12.mb-4.mb-lg-0
      .swiper-theme-container.theme-slider(data-swiper-theme-container)
        .swiper(data-swiper!={
          autoplay: true,
          spaceBetween: 5,
          loop: true,
          loopedSlides: 5,
          slideToClickedSlide: true,
          effect: 'fade'
        })
          .swiper-wrapper
            each items in sliderImages
              .swiper-slide
                = '\n'
                img(src=`${CWD}${items.imageSrc}` alt="")
                = '\n'
          .swiper-nav
            .swiper-button-next
            .swiper-button-prev 

mixin SwiperWithThumbnail
  .row
    .col-lg-12.mb-4.mb-lg-0
      .swiper-theme-container.theme-slider(data-swiper-theme-container)
        .swiper(data-swiper!={
          spaceBetween: 5,
          loop: true,
          loopedSlides: 5,
          thumb: {
            spaceBetween: 5,
            slidesPerView: 5,
            loop: true,
            freeMode: true,
            grabCursor: true,
            loopedSlides: 5,
            slideToClickedSlide: true,
            watchSlidesVisibility: true,
            watchSlidesProgress: true,
          },
          slideToClickedSlide: true,
        })
          .swiper-wrapper
            each items in sliderImages
              .swiper-slide
                = '\n'
                img(src=`${CWD}${items.imageSrc}` alt="")
                = '\n'

          .swiper-nav
            .swiper-button-next
            .swiper-button-prev
